@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SourceCodePro-Regular.ttf.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SourceCodePro-Bold.ttf.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #CCCCCC;
  background-color: #1F1F28;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.blog-header {
  display: flex;
  align-items: center;
  background-image: url("../img/cover/blog.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  color: inherit;
  text-align: center;
  height: 60vh;
}

.blog-header-container {
  width: 1000px;
  margin: 0 auto;
  text-align: right;
}

.blog-title {
  font-size: 48px;
  text-shadow: 2px 2px 4px black;
  letter-spacing: 2px;
  margin-left: auto;
}

.blog-description {
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
  position: relative;
  padding-top: 10px;
}

.blog-description::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 2px;
  background-color: #99BB6C;
  z-index: 1;
  margin-right: 10px;
}

.about-blog {
  width: 1000px;
  margin: 0 auto;
}

.about-blog-title {
  padding-top: 40px;
  color: #76947A;
}

.about-blog-text {
  text-align: justify;
}

.posts-list {
  width: 1000px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 70px;
}

.posts-item {
  display: flex;
  grid-template-columns: 100px 100px;
  margin-bottom: 40px;
}

.posts-item img {
  margin: 0;
  padding: 0;
}

.post-container {
  padding-left: 40px;
}

.post-date {
  font-family: "SourceCodePro";
  font-weight: 700;
  color: #76947A;
  margin: 0;
}

.post-link {
  color: #FFFFFF;
  text-decoration: none;
}

.post-text {
  text-align: justify;
}

.post-more {
  color: #76947A;
  text-decoration: none;
}
