@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SourceCodePro-Regular.ttf.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SourceCodePro-Bold.ttf.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #CCCCCC;
  background-color: #1F1F28;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.maths-header {
  background-image: url("../img/cover/maths.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: inherit;
  background-position: center;
  color: inherit;
  text-align: center;
  height: 60vh;
  display: flex;
  align-items: center;
}
